<mat-card class="card-container">
  <form [formGroup]="formGroup">
    <mat-form-field class="form-item">
      <input matInput placeholder="Name" formControlName="name" required>
      <mat-error *ngIf="formGroup.controls['name'].invalid">Name is Missing</mat-error>
    </mat-form-field>

    <mat-form-field class="form-item">
      <mat-select placeholder="Template" formControlName="template" required>
        <mat-option *ngFor="let template of templates" [value]="template.id">
          {{template.value}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formGroup.controls['template'].invalid">Template is Missing</mat-error>
    </mat-form-field>

    <mat-form-field class="form-item">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" (click)="picker.open()"
             formControlName="date" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="formGroup.controls['date'].invalid">Date is Missing</mat-error>
    </mat-form-field>

    <mat-form-field class="form-item">
      <mat-select placeholder="Repeat" formControlName="repeat" required>
        <mat-option *ngFor="let repeat of repeats" [value]="repeat.id">
          {{repeat.value}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formGroup.controls['repeat'].invalid">Repeat is Missing</mat-error>
    </mat-form-field>

    <mat-radio-group class="form-item" formControlName="isActivate" required>
      <h3>Is Activate:</h3>
      <mat-radio-button value="true">True</mat-radio-button>
      <mat-radio-button value="false">False</mat-radio-button>
    </mat-radio-group>
  </form>
  <div class="button-container">
      <button class="button" mat-raised-button color="primary" (click)="cancel()">Cancel</button>
      <button class="button" mat-raised-button color="primary" (click)="submit()">Submit</button>
  </div>
</mat-card>
