:host {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.form-item {
  width: 90%;
}

.card-container {
  max-width: 400px;
  margin-left: 16px;
}

mat-radio-button {
  margin-right: 8px;
}

.button-container {
  margin-top: 16px;
  margin-right: 30px;
  display: flex;
  flex-direction: row-reverse;
}

.button {
  margin-left: 4px;
}
